.poster > img {
    height: 330px;
    align-self: center;
}

.poster > img:hover {
    opacity: 1;
    box-shadow: 0px 9px 15px 5px rgba(179, 179, 179, 0.2);
}

.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    opacity: .7;
    overflow: hidden;
    transition: .3s ease all;
}

.poster:hover {
    opacity: 1;
    cursor: pointer;
}

.movie-title-homepage {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}