.poster > img {
    height: 330px;
    align-self: center;
    transition: .2s ease;
}

.poster > img:hover {
    cursor: pointer;
    opacity: .8;
    box-shadow: 7px 7px 25px 0px rgba(255, 255, 255, 0.2);
}

.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.movie-title-homepage {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
