.search-results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    margin: 7rem;
    align-items: start;
}

.search-header-container {
    margin: 155px 0 0 7rem;
    width: 80%;
}

.error {
    width: max-content;
}