.main-container {
    background-color: black;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    margin: 5rem;
    align-items: start;
}

.title {
    display: none;
  }

.error {
    text-align: center;
    font-size: 2rem;
}

.current-movie-container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .title {
        display: block;
        text-align: center;
        background-color: #89023E;
        padding: 1rem;
        border-top: 2px solid #FFFFFF;
        margin: 0px;
        color: #FFFFFF;
        text-shadow: 1px 3px 0 #ea638c98, 1px 13px 5px #ea638c56;
    }
  }