* {
  color: white;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-items: center;
}

.back-btn {
  width: 50px;
  color: #000000;
  background-color: #EA638C;
  border: none;
  align-self: flex-start;
  padding: 5px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.back-btn:hover {
  cursor: pointer;
  background-color: white;
}

.movie-backdrop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.movie-title {
  text-shadow: #000000 3px 5px 2px;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  bottom: 4px;
  left: 10%;
  z-index: 2;
  margin: 0;
}

.movie-backdrop {
  width: 100%;
  height: 400px;
  max-width: 900px;
  object-fit: cover;
  z-index: 1;
}

.movie-details-container {
  display: flex;
}

.movie-stats-container {
  width: 30%;
}

.movie-summary-container {
  width: 70%;
}