.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.nav-bar-topper {
  background-color: #EA638C;
  display: flex;
  justify-content: center;
}

marquee {
  max-width: 500px;
}

.marquee-text {
  font-weight: 600;
  color: white;
  margin: 0;
}

.nav-bar {
  background-color: #89023E;
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo, .nav-tiny-logo {
  height: 90px;
  margin-left: 15px;
}

.nav-tiny-logo {
  display: none;
}

.nav-link {
  margin: 0 15px;
  color: white;
  font-weight: 600;
}

.nav-link:hover {
  color: #EA638C;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .search-container {
    margin-right: 20px;
  }

  .nav-logo {
    display: none;
  }
  
  .nav-tiny-logo {
    display: block;
  }
}